<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <liquidobrlpaymentmethod translate="label comment" module="liquidobrlpaymentmethod">
                    <label>Liquido BRL Pagamentos</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Habilitar este meio de pagamento?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>1</sort_order>
                        </active>
                        <production_mode translate="label">
                            <label>Ativar modo produção?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>2</sort_order>
                        </production_mode>
                        <sandbox_client_id translate="label">
                            <label>Sandbox Client Id</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>3</sort_order>
                        </sandbox_client_id>
                        <sandbox_client_secret translate="label">
                            <label>Sandbox Client Secret</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>4</sort_order>
                        </sandbox_client_secret>
                        <sandbox_api_key translate="label">
                            <label>Sandbox API Key</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>5</sort_order>
                        </sandbox_api_key>
                        <prod_client_id translate="label">
                            <label>Produção Client Id</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>6</sort_order>
                        </prod_client_id>
                        <prod_client_secret translate="label">
                            <label>Produção Client Secret</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>7</sort_order>
                        </prod_client_secret>
                        <prod_api_key translate="label">
                            <label>Produção API Key</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>8</sort_order>
                        </prod_api_key>
                    </fields>
                </liquidobrlpaymentmethod>
            </groups>
        </payment>

    </sections>
</config>